* {padding: 0; margin: 0; box-sizing: border-box;}

body {
    background-color: var(--dark);
    font-size: 16px;
}

.frontpage {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/frontpage.png');
    object-fit: cover;
    gap:10px;
    grid-template-areas: 
    ". . ."
    "nav quote title"
    ". cta ."
    ;
}

.frontpage .frontpage__nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
}

.frontpage .frontpage__nav a {
    color: var(--golden);
    text-decoration: none;
    font-size: 2.2em;
    font-family: var(--main-font);
}

.frontpage .frontpage__nav a:hover {
    color: var(--light);
}

.frontpage .frontpage__quote {
    grid-area: quote;
}

.frontpage .frontpage__title{
    grid-area: title;
}

.frontpage .frontpage__cta {
    grid-area: cta;
}




