* {padding: 0; margin: 0; box-sizing: border-box;}

body {
    background-color: var(--dark);
    font-size: 16px;
}

.frontpage {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/img/frontpage.png');
    object-fit: cover;
    gap:10px;
    grid-template-areas: 
    ". . ."
    "nav quote title"
    ". cta ."
    ;
}

.frontpage .frontpage__nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 25%;       /* noe annet enn margin? */
}

.frontpage .frontpage__nav a {
    color: var(--golden);
    text-decoration: none;
    font-size: 2.2em;
    font-family: var(--main-font);
    cursor: pointer;
}

.frontpage .frontpage__nav a:hover {
    color: var(--light);
}

.frontpage .frontpage__quoteContainer {
    grid-area: quote;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frontpage .frontpage__quoteContainer .frontpage__quote {
    height:0;
    width: 25%;
    margin-left: 5%;
    margin-top:25%;
    color: var(--orange);
    font-family: var(--second-font);
    font-size: 1em;
}

.frontpage .frontpage__quoteContainer .frontpage__quote:hover {
    font-size: 2em;
    width:70%;
    margin-top: 20%;
}


.frontpage .frontpage__cta {
    grid-area: cta;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5em;
    font-family: var(--second-font);
    color: var(--golden);
    padding:30px;
    cursor: pointer;
}

.frontpage .frontpage__cta:hover {
    color: var(--orange);
}

.frontpage .frontpage__cta img {
    padding:20px;
}

.frontpage .frontpage__cta img:hover {      /* finne på noe bedre */
    margin-left: 10%;
}

.frontpage .frontpage__title {
    grid-area: title;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 62%;
    font-family: var(--main-font);
    font-size: 3.5em;
    color: var(--golden);
}


/******* TO DO ***********
    1. hover underline
    2. fix title -> one <p>/<span>
    3. frontpage hover title - expand
    4. navigate to gallery 


*/